<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.Documentus}}. All rights reserved. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
 <div class="fb-share-button" data-href="http://www.jamesmediacompany.co.uk" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.jamesmediacompany.co.uk%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div><p><img src="{{ "images/DocuCode.png" }}" alt="Company logo"/></p>
                </div>
            </div>
           
</footer>
